aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
alabaster==1.0.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==3.7.1
apparmor==4.1.1
asgiref==3.8.1
async-timeout==4.0.3
attrs==25.3.0
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.13.3
binaryornot==0.4.4
boolean.py==5.0
breezy==3.3.11
Brlapi==0.8.6
btrfsutil==6.15
build==1.2.2
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
cloudscraper==1.2.71
colorama==0.4.6
configobj==5.0.9
cryptography==45.0.4
dacite==1.8.1
dbus-python==1.4.0
decorator==5.2.1
demjson3==3.0.6
Deprecated==1.2.18
dirty-equals==0.9.0
docopt-ng==0.9.0
docutils==0.21.2
dulwich==0.22.8
evdev==1.9.0
fastapi==0.103.2
fastbencode==0.3.2
fastjsonschema==2.21.1
filelock==3.18.0
frozenlist==1.7.0
glad2==2.0.8
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
installer==0.7.0
jaconv==0.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
lark==1.2.2
legacy-cgi==2.6.3
lensfun==0.3.4
LibAppArmor==4.1.1
libfdt==1.7.2
libvirt-python==11.4.0
license-expression==30.4.1
louis==3.34.0
lxml==5.4.0
lynxpresence==4.4.1
Mako==1.3.10.dev0
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
merge3==0.0.15
meson==1.8.2
more-itertools==10.7.0
multidict==6.5.0
musicbrainzngs==0.7.1
mutagen==1.47.0
natsort==8.4.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.3.1
OpenCC==1.1.8
OpenTimelineIO==0.17.0
packaging==25.0
pathvalidate==3.2.3
patiencediff==0.2.15
pillow==11.2.1
platformdirs==4.3.6
pluggy==1.6.0
poetry-core==2.1.3
propcache==0.3.2
psutil==7.0.0
pyaaf2==1.7.1
pycairo==1.28.0
pycparser==2.22
pydantic==2.11.7
pydantic-extra-types==2.10.4
pydantic-settings==2.10.1
pydantic_core==2.33.2
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.52.3
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pykakasi==2.3.1.dev0
pylast==5.5.0
pyparsing==3.2.1
pyproject_hooks==1.2.0
PyQt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
PySDL3==0.9.8b0
pyte==0.8.2
pytest==8.4.1
python-dateutil==2.9.0
python-debian==0.1.49
python-distutils-extra==2.39
python-dotenv==1.1.1
python-slugify==8.0.4
pytube==15.0.0
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.12.2
redis==6.2.0
requests==2.32.4
requests-toolbelt==1.0.0
reuse==5.0.2
rich==14.0.0
roman-numerals-py==3.1.0
scdl==2.12.3
Send2Trash==1.8.3
sentry-sdk==2.31.0
setproctitle==1.3.5
setuptools==80.9.0
six==1.17.0
smbus==1.1
sniffio==1.3.1
snowballstemmer==2.2.0
soundcloud-v2==1.6.0
soupsieve==2.6
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spotdl==4.2.11
spotipy==2.25.0
starlette==0.27.0
syncedlyrics==1.0.1
tauon-music-box==8.0.1
TBB==0.2
termcolor==2.5.0
text-unidecode==1.3
thefuck==3.32
tomlkit==0.13.3
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.13.2
tzlocal==5.3.1
ufw==0.36.2
Unidecode==1.3.8
urllib3==2.5.0
urwid==3.0.2
uvicorn==0.23.2
uvloop==0.21.0
validate==5.0.9
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
wheel==0.45.1
wrapt==1.16.0
yarl==1.20.1
yt-dlp==2025.6.25
ytmusicapi==1.10.3
